@page
@model Projeto_RazorPage_Padaria.Pages.Sales.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid bg-dark">
<h4 class="text-light">New Sale</h4>
<hr class="text-light"/>
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Sales.Buyer.Name!" class="control-label">Customer:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control disabled" disabled placeholder="Customer" aria-label="Customer" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#customers-modal"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                        <span asp-validation-for="Sales.Buyer.Name!" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Sales.PaymentForm" class="control-label">Payment Form</label>
                        <select asp-for="Sales.PaymentForm" class="form-control" asp-items="Model.PaymentFormsAvailable">
                        </select>
                        <span asp-validation-for="Sales.PaymentForm" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div class="modal fade bd-example-modal-lg" id="customers-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title text-light" id="exampleModalLabel">Select this sale´s </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Document
                                    </th>
                                    <th>
                                        Points
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
</div>
    <a asp-page="Index">Back to List</a>
</div>
<script>

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
