@page
@model Projeto_RazorPage_Padaria.Pages.Products.CreateModel

@{
	ViewData["Title"] = "Create";
}
<div class="container bg-dark w-50 mx-auto text-light">
<h1>Create</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Product.Description" class="control-label"></label>
				<input asp-for="Product.Description" class="form-control" />
				<span asp-validation-for="Product.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Product.Price" class="control-label"></label>
				<input asp-for="Product.Price" class="form-control" />
				<span asp-validation-for="Product.Price" class="text-danger"></span>
			</div>
		</form>
		<div class="d-flex gap-3 mt-4 w-100">
			<a asp-page="./Index" class="btn btn-secondary" style="width: 50%;">Back to List</a>
			<input type="submit" value="Create" class="text-light btn btn-warning" style="width: 50%;" />
		</div>
	</div>
</div>
</div>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
